body {
  margin: 0;
    color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;

    #nav-icon {
        color: #4A5F57;
        font-size: 24px;
        margin: 20px;
    }

    #logo {
        height: 35px;   
    }
}

header {
    display: flex;
    background-color: #4A5F57;
    padding: 3rem 1.5rem;

    .col1 {
        flex: 0 0 65%;
        color: #ffffff;

        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 2rem;
            font-weight: bold;
            margin: 0;
            color: #F4CE15;
        }

        h3 {
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .col2 {
        display: flex;
        flex: 0 0 35%;
        justify-content: center;
        align-content: center;
        align-items: center;

        img {
            display: flex;
            object-fit: cover;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        }
    }

    input, a {
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: #F4CE15;
        color: #4A5F57;
        font-weight: bolder;
        text-decoration: none;

        &:hover {
            filter: brightness(75%);
            transition: 0.5s;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 10rem calc(100% - 70rem);

        .col1 {
            color: #ffffff;
        }

        .col2 {
            display: flex;
            justify-content: left;
            align-content: left;
            align-items: left;

            img {
                display: flex;
                object-fit: cover;
                border-radius: 10px;
                width: 400px;
                height: 300px;
            }
        }
    }
}

main {

    .filter {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        border-bottom: 1px solid #dbdbdb;

        .pill {
            margin: 10px 5px;
            background-color: #e6e6e6;
            color: #333333;
            border-radius: 20px;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 0.9rem;
            display: inline-block;

            &:hover {
                background-color: darken(#e6e6e6, 5%);
                transition: 0.5s;
                cursor: pointer;
            }

            &:active {
                background-color: darken(#e6e6e6, 10%);
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .menu-item {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #dbdbdb;

        p {
            margin: 10px auto;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 1.5;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #dbdbdb;
            margin: 0;
            padding: 0;

            &:last-child {
                display: none;
            }
        }

        .col1 {
            flex: 0 0 65%;
        }

        .col2 {
            display: flex;
            flex: 0 0 35%;
            justify-content: center;
            align-content: center;
            align-items: center;

            img {
                display: flex;
                object-fit: cover;
                border-radius: 10px;
                width: 100px;
                height: 100px;
            }
        }
    }



    @media screen and (min-width: 768px) {
        max-width: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        margin: 0 auto;

        .menu-item {
            padding: 20px 0;

            .col2 {
                justify-content: center;
                align-content: center;
                align-items: center;
    
                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }

    }
}

footer {
    background-color: #4A5F57;
    color: #ffffff;
    text-align: center;
    padding: 1rem;

    p {
        margin: 0;
    }
}

.button {
    background-color: #F4CE15;
    color: #4A5F57;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
        filter: brightness(75%);
        transition: 0.5s;
        cursor: pointer;
    }

    &:active {
        background-color: darken(#F4CE15, 10%);
    }
}

.booking-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;

    .input {
        border-radius: 5px;
        display: flex;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.css-5c1adp-MuiContainer-root {
    border-color: black !important;
    padding: 0 !important;
}

.product-container {
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }    
    .product-details {
        display: flex;
        flex-direction: column;
        margin: 10px;
        min-height: calc(100vh - 64px - 70px - 20px - 300px);
        
        h2 {
            margin: 10px 0;
            font-size: 1.5rem;
        }
        
        p {
            margin: 10px 0;
            font-size: 1rem;
            color: #666666;
        }
        
        b {
            font-size: 1.2rem;
            color: #333333;
        }
    }

    @media screen and (min-width: 768px) {
        width: 50%;
        margin: 0 auto;
    }
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: calc(100vh - 64px - 70px - 20px);

    img {
        max-height: 100px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid #dbdbdb;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        padding: 9px 10px;

        &:hover {
            filter: brightness(75%);
            transition: 0.5s;
            cursor: pointer;
        }

        &:active {
            background-color: darken(#F4CE15, 10%);
        }
    }

    .cart-item {
        padding: 10px 0;
        border-bottom: 1px solid #dbdbdb;

        &:last-child {
            border-bottom: none;
        }
    }

    @media screen and (min-width: 768px) {
        width: 50%;
        margin: 0 auto;
    }
}
